/**********************
BUTTONS
***********************/

.button {
    // height: 47px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 24px;
}

.primary-button {
    padding: 12px;
    background-color: $aqua;
    border: 0;
}

.trips-submit {
    border-radius: 10px;
}

.sign-out {
    padding: 12px 0;
    background-color: $black;
    border: 1px solid red;
    color: red;
    margin-top: 15px;
}

// .secondary-button {
//     // black background
//     // red border
//     // red color
// }