/**********************
FONT
***********************/

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/Avenir Next.ttc');
}
@font-face {
    font-family: 'Avenir Next Medium';
    src: url('../fonts/Avenir Next.ttc');
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/Proxima Nova Bold.otf');
}
@font-face {
    font-family: 'Proxima Nova Reg';
    src: url('../fonts/Proxima Nova Reg.otf');
}
@font-face {
    font-family: 'Proxima Nova Sbold';
    src: url('../fonts/Proxima Nova Sbold.otf');
}
@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src: url('../fonts/SF-Pro-Display-Regular.otf');
}