/**********************
FOOTER
***********************/

.footer {
    // height: 83px;
    // padding: 20px 0;
    justify-content: space-around;
    box-shadow: 0 -3px 1.5px -1px #eee;
}

.footer-nav {
    height: 50%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.iphone-bottom-nav {
    text-align: center;
}