/**********************
MAIN
***********************/

.main-content {
    height: 671px;
    align-items: center;
    flex-grow: 1;
}

.floating-nav {
    background-image: url('../img/bars/tab/local-nav/floating/bar.png');
    height: 44px;
    width: 100%;
    max-width: 300px;
}

.hero {
    margin-top: 30px;
    text-align: center;
}

.account-total,
.account-comparison {
    font-family: 'Proxima Nova Sbold';
    letter-spacing: 1px;
    margin: 0;
    color: $font-navy;
}

.currency-type {
    font-family: 'Avenir Next';
    font-size: 14px;
    text-align: center;
    color: $font-navy;
    margin-top: 5px;
}

.hero-subheading {
    margin-top: 38px;
    text-align: center;
}

.hero-graph {
    margin-top: 10px;
    position: relative;
}

.list-item {
    padding: 10px 0;
}

.expense-name {
    font-family: 'Avenir Next Medium';
    font-size: 16px;
}

.activity-flex-left {
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
}
.activity-flex-right {
    width: 30%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.expense-name {
    font-family: 'Avenir Next Medium';
    font-size: 16px;
}