/*****************
COLORS
******************/
/**********************
GLOBAL
***********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'SF-Pro-Display'; }

html {
  font-size: 20px;
  text-rendering: optimizeLegibility;
  min-height: 100%; }

.content {
  width: 375px;
  height: 812px;
  background-color: #fff;
  margin: 0 auto; }

li {
  list-style-type: none; }

a {
  color: #000; }

.width-full {
  width: 100%; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column-center {
  align-items: center; }

/**********************
BUTTONS
***********************/
.top-nav-filter {
  background-color: white;
  border: 0; }

.primary-button {
  background-color: #4A98F7;
  border: 0; }

.mid-nav-button {
  background-color: #fff;
  border: 0;
  font-family: 'Proxima Nova Sbold';
  font-size: 13px; }

.passive {
  color: #7A8899; }

.active {
  color: #2E3C4D; }

/**********************
HEADER
***********************/
.app-header {
  height: 44px;
  align-items: center;
  justify-content: center; }

.iphone-toolbar {
  height: 13px;
  width: 326px;
  background-image: url("../img/iPhone X/Status Bars/Status Bar (Black).png"); }

.expenses-heading {
  font-family: 'Proxima Nova Sbold';
  font-size: 17px; }

.expenses-header {
  height: 88px;
  align-items: center;
  justify-content: space-around; }

.top-nav {
  align-items: center;
  justify-content: space-between;
  margin-right: 40px; }

/**********************
MAIN
***********************/
.main-content {
  height: 671px;
  align-items: center;
  margin-bottom: 14px; }

.floating-nav {
  background-image: url("../img/bars/tab/local nav/floating/bar.png");
  height: 44px;
  width: 300px; }

.hero {
  margin-top: 30px;
  height: 249px;
  text-align: center; }

.account-total,
.account-comparison {
  font-family: 'Proxima Nova Sbold';
  letter-spacing: 1px;
  margin: 0;
  color: #1F3F66; }

.currency-type {
  font-family: 'Avenir Next';
  font-size: 14px;
  text-align: center;
  color: #1F3F66;
  margin-top: 5px; }

.account-comparison {
  font-size: 20px; }

.hero-subheading {
  margin-top: 38px;
  text-align: center; }

.hero-graph {
  margin-top: 10px;
  position: relative; }

.hero-graph-switch {
  position: absolute;
  margin: 0 154px;
  z-index: 5; }

.account-activity {
  height: 309px; }

.account-activity-label {
  font-family: 'Avenir Next';
  font-size: 13px;
  color: #7A8899;
  text-align: left;
  margin-left: 21px; }

.account-activity-today {
  margin-bottom: 28px; }

.list-item {
  height: 80px;
  margin: 10px 0; }

.icon-placeholder {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 25px;
  display: inline-block; }

.expense-name {
  font-family: 'Avenir Next Medium';
  font-size: 16px; }

.expense-type {
  font-family: 'Avenir Next';
  font-size: 14px; }

.expense-cost {
  font-family: 'Proxima Nova Sbold';
  font-size: 16px; }

.activity-flex-left {
  width: 70%;
  align-items: center;
  justify-content: space-evenly; }

.activity-flex-right {
  width: 30%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px; }

.mid-nav-container {
  position: relative;
  z-index: 1; }

.mid-nav {
  height: 50px;
  align-items: center;
  justify-content: space-around; }

.mid-nav-break {
  border: 1px solid #D3D9E0; }

.mid-nav-break-selected {
  width: 125px;
  border: 1px solid #2E3C4D;
  position: absolute;
  z-index: 5;
  transform: translate(100%, -2px); }

.account-categories {
  line-height: 25px; }

.category-center {
  align-items: center; }

.account-category {
  height: 80px;
  margin: 0 24px;
  align-items: center;
  justify-content: space-between; }

.category-margin {
  margin-left: 20px; }

.expense-name {
  font-family: 'Avenir Next Medium';
  font-size: 16px; }

.expense-total {
  font-family: 'Avenir Next';
  font-size: 14px; }

.expense-percentage {
  font-family: 'Proxima Nova Sbold';
  font-size: 16px; }

/**********************
FOOTER
***********************/
.footer {
  height: 83px;
  justify-content: space-around;
  box-shadow: 0 -3px 1.5px -1px #eee; }

.footer-nav {
  height: 50%;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px; }

.iphone-bottom-nav {
  text-align: center; }

/**********************
FONT
***********************/
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Avenir Next.ttc"); }

@font-face {
  font-family: 'Avenir Next Medium';
  src: url("../fonts/Avenir Next.ttc"); }

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/Proxima Nova Bold.otf"); }

@font-face {
  font-family: 'Proxima Nova Reg';
  src: url("../fonts/Proxima Nova Reg.otf"); }

@font-face {
  font-family: 'Proxima Nova Sbold';
  src: url("../fonts/Proxima Nova Sbold.otf"); }

@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src: url("../fonts/SF-Pro-Display-Regular.otf"); }
