/**********************
GLOBAL
***********************/
@font-face {
  font-family: 'SF-Pro-Display';
  src: url("../fonts/SF-Pro-Display-Light.otf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'SF-Pro-Display'; }

html {
  font-size: 20px;
  text-rendering: optimizeLegibility;
  min-height: 100%; }

.content {
  width: 375px;
  height: 957px;
  background-color: #000;
  margin: 0 auto; }

li {
  list-style-type: none; }

a {
  color: #000; }

.aqua {
  color: #50E3C2; }

.width-full {
  width: 100%; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column-center {
  align-items: center; }

.flex-justify-evenly {
  justify-content: space-evenly; }

.height-full {
  height: 100%; }

/**********************
BUTTONS
***********************/
.button {
  border-radius: 10px;
  font-size: 20px;
  margin-top: 24px; }

.primary-button {
  padding: 12px;
  background-color: #50E3C2;
  border: 0; }

.trips-submit {
  border-radius: 10px; }

.sign-out {
  padding: 12px 0;
  background-color: #000;
  border: 1px solid red;
  color: red;
  margin-top: 15px; }

/**********************
HEADER
***********************/
.header-container {
  height: 44px;
  margin-bottom: 40px; }

.iphone {
  height: 34px;
  text-align: center; }

.back-arrow {
  margin-left: 22px; }

.account-photo {
  position: relative;
  z-index: 1; }

.change-photo {
  width: 40px;
  height: 41px;
  background-image: url("../img/pencil.png");
  position: absolute;
  z-index: 3;
  transform: translate(7px, -45px); }

.account {
  width: 50%;
  justify-content: space-between;
  align-items: center; }

.user-name {
  color: #50E3C2; }

.center {
  align-items: center;
  justify-content: space-between;
  padding: 0 16px; }

.discount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 40%; }

.recent-trip {
  color: #fff; }

.discount-card {
  width: 108px;
  height: 38px;
  background-color: #50E3C2;
  border-radius: 4px;
  border: 0;
  justify-content: space-evenly;
  align-items: center; }

.account-header {
  margin-top: 16px; }

/**********************
MAIN
***********************/
.back-text, .account-name {
  font-size: 17px; }

.account-recent-trip {
  width: 61px;
  height: 21px;
  border-radius: 10.5px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  text-align: center; }

.main-container {
  padding: 0 16px; }

.account-container {
  height: 33%;
  margin-bottom: 20px; }

.label {
  font-size: 14px;
  margin-bottom: 10px; }

.black-break {
  border: 1px solid #1E1E1E;
  width: 343px;
  margin: 0 auto; }

.grey-break {
  border: 1px solid #fff;
  width: 343px;
  margin: 0 auto; }

.account-input {
  font-size: 24px; }

.edit-form {
  height: 60%; }

.input-container {
  padding-left: 10px; }

.user-container {
  height: 50%; }

.account-input {
  background-color: #000;
  color: white;
  border: 0; }

::placeholder {
  color: #eee; }

.main-padding {
  margin-top: 30px; }

.trips-heading {
  color: #fff;
  font-size: 18px; }

.recent-trip {
  font-size: 12px;
  justify-content: space-between; }

.trips-container {
  height: 285px; }

.recent-trip-cost {
  color: #50E3C2; }

.user-trips {
  padding: 0 10px 0 10px; }

.trip-map {
  background-image: url("../img/trip-map.png");
  height: 179px;
  width: 322px; }

.payment {
  padding: 7px 10px 7px 40px; }

.payment-container {
  height: 165px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  border-radius: 10px;
  padding: 0 12px;
  font-size: 14px; }

.support-button {
  color: #fff;
  font-size: 20px;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: #000;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0 10px; }

.support-container {
  align-items: center;
  justify-content: space-between; }

.support-container-left {
  display: flex;
  align-items: center; }

.support-label {
  margin-left: 18px; }

.anchor-white {
  color: #fff;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center; }

.short {
  width: 100%;
  border: .5px solid #1E1E1E;
  margin: 0 auto; }

.paypal-icon-container {
  width: 36px;
  height: 27px;
  background-color: #53CAF1;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.payment-mastercard,
.payment-paypal,
.payment-cash,
.add-method {
  display: flex;
  flex-direction: row;
  align-items: center; }

.payment-text {
  margin-left: 15px; }

/**********************
FOOTER
***********************/
.edit-account-footer {
  height: 96px;
  width: 375px;
  background-color: #343232;
  border-radius: 22px 22px 0 0; }

.map-icon-container {
  height: 65px;
  width: 65px;
  border-radius: 8px;
  background-color: #50E3C2; }

.map-icon {
  transform: translate(25%, 30%); }

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px; }

.find-text {
  color: #fff;
  font-size: 24px; }

.footer-margin {
  margin-top: 50px; }

.footer-spacing {
  margin: 15px 0; }
